/*Website Styles */

* {
    font-size: 100%;
}

body {
    background-color: black;
    font-family: "Geist Mono", monospace;
}

p {
    color: #FF0000;
    line-height: 2;
}

li {
    color: rgb(238, 75, 43);
}

h1 {
    color: #FF0000;
    font-style: oblique;
    font-weight: bold;
    font-size: 39px;
    text-align: center;
}
h2 {
    color: #FF0000;
}

figcaption {
    color: gold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer p{
 color: floralwhite;
}

section p {
    color: aqua;
}

/* parent + space + nested child(target) */
ol li {
    color: darkgray;
}

ul li {
    color: brown;
}
figcaption a {
    text-decoration: none;
}

/* element:state */

figcaption a:hover {
    text-decoration: underline;
    font-size: 30px;
}
figcaption a:active {
    color: #FF0000;
}
