/*Website Styles */

* {
    font-size: 100%;
}

body {
    background-color: black;
    font-family: "Geist Mono", monospace;
}

p {
    color: #FF0000;
    line-height: 2;
}

li {
    color: rgb(238, 75, 43);
}

h1 {
    color: #FF0000;
    font-style: oblique;
    font-weight: bold;
    font-size: 39px;
    text-align: center;
}
h2 {
    color: #FF0000;
}

figcaption {
    color: gold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer p{
 color: floralwhite;
}

section p {
    color: aqua;
}

/* parent + space + nested child(target) */
ol li {
    color: darkgray;
}

ul li {
    color: brown;
}
figcaption a {
    text-decoration: none;
}

/* element:state */

figcaption a:hover {
    text-decoration: underline;
    font-size: 30px;
}
figcaption a:active {
    color: #FF0000;
}

section div{
    width: 100px;
    height: 100px;
    background-color: lightsalmon;
    /*1st shorthand option: 1 value - all sides */
    margin: 20px;
    padding: 10px;
    /*border will take 3 values: 1st-width, 2nd-style 3rd color*/
    border-bottom: 4px solid blue;
    border-top: 4px dotted blue;
}

.content-box{
    background-color: orange;
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 4px solid whitesmoke;
}

.border-box{
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 4px solid whitesmoke;
    box-sizing: border-box;
}

.first-para{
    font-family: 'Courier New', Courier, monospace;
}

.second-para{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#article{
    background-color: grey;
}